.header {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    width: 120px;
    height: 44px;
}

nav {
    font-family: "Noto Sans CJK JP", serif;
    font-size: 20px;
    margin-right: auto;
}

.profile:hover {
    cursor: pointer;
}

h1 {
    font-family: "Noto Sans CJK JP", serif;
    margin-right: 50px;
}

ul {
    list-style: none;
}

.contact {
    cursor: pointer;
    text-decoration: none;
    color: black;
}